@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --apex-dark: 0, 0%, 15%;
    --apex-bluish-grey: 209, 29%, 25%;
    --apex-blue: 202, 98%, 49%;
    --apex-dark-green: 120, 100%, 20%;
    --apex-orange: 29, 98%, 49%;
    --apex-yellow: 54, 100%, 50%;
    --apex-dark-sea-green: 120, 25%, 65%;
    --apex-grey-dark: 0, 0%, 50%;
    --apex-grey-medium: 0, 0%, 25%;
    --apex-grey-light: 0, 0%, 20%;
    --apex-green: 172, 21%, 73%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --apex-h1-size: 64px;
    --apex-h2-size: 48px;
    --apex-h3-size: 39px;
    --apex-h4-size: 31.25px;
    --apex-h5-size: 25px;

    --apex-btn-size: 20px;
    --apex-para-size: 16px;
    --apex-small-size: 14px;
    --apex-caption-size: 10px;

    --apex-h1-weight: 700;
    --apex-h2-weight: 700;
    --apex-h3-weight: 700;
    --apex-h4-weight: 700;
    --apex-h5-weight: 700;

    --apex-btn-weight: 700;
    --apex-para-weight: 300;
    --apex-small-weight: 300;
    --apex-caption-weight: 300;

    --apex-h1-line-height: 87.16px;
    --apex-h2-line-height: 65.37px;
    --apex-h3-line-height: 53.11px;
    --apex-h4-line-height: 42.56px;
    --apex-h5-line-height: 34.05px;

    --apex-btn-line-height: 27.24px;
    --apex-para-line-height: 21.79px;
    --apex-small-line-height: 16.34px;
    --apex-caption-line-height: 13.62px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
